mat-card {
  width: 300px;
  margin: 20px auto;
  text-align: center;
  padding: 16px;
}

.full-width {
  width: 100%;
  margin-top: 12px;
}

.forgot-password {
  margin-top: 10px;
  font-size: 12px;
}
