<mat-dialog-content>
  <p>
    {{ data.submission.content }}
  </p>
  @if (data.submission?.fileUrls?.length)
  {
    <button mat-flat-button color="primary" (click)="DownloadAllFilesAsZip()">
      <mat-icon>archive</mat-icon>
      Descargar todos los archivos
    </button>
  }
</mat-dialog-content>

<mat-dialog-actions>
  @if (userRole === "ROLE_TEACHER") {
    <form [formGroup]="gradeForm" (ngSubmit)="submitGrade()">
      <mat-form-field appearance="outline">
        <mat-label>Calificar</mat-label>
        <input matInput type="number" formControlName="grade">
        @if (gradeForm.controls['grade'].hasError('min'))
        {
          <mat-error>
            La nota mínima es 0
          </mat-error>
        }
        @if (gradeForm.controls['grade'].hasError('max'))
        {
          <mat-error>
            La nota máxima es 20
          </mat-error>
        }
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit"
              [disabled]="gradeForm.invalid">
        Calificar
      </button>
    </form>
  }
</mat-dialog-actions>
