<mat-card>
    <div class="title">
      <h3>Iniciar Sesión</h3>
      <h4>Ingresa tus credenciales para acceder</h4>
    </div>

  <mat-card-content>
    <form>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de Usuario</mat-label>
        <input
          matInput
          placeholder="Ingresa tu nombre de usuario"
          (change)="invalidCredentials = false"
          [(ngModel)]="username"
          name="username"
          required
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          placeholder="Ingresa tu contraseña"
          (change)="invalidCredentials = false"
          [(ngModel)]="password"
          name="password"
          required
        >
      </mat-form-field>

      @if (invalidCredentials)
      {
        <p class="red-text">El usuario o la contraseña son incorrectos.</p>
      }

      <button mat-raised-button color="primary" class="full-width" (click)="LogIn()">
        Iniciar Sesión
      </button>

      <p class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </p>
    </form>
  </mat-card-content>
</mat-card>
