/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.sidenav-container {
  background: linear-gradient(135deg, #f6fafd 0%, #e2eff8 100%);
  min-height: 100vh;
}
